.scroll-top{
  display: flex; 
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: fixed;
  right: 1.5rem;
  bottom: 5rem;
  width: 2rem;
  height: 2rem;
  padding: .5rem;
  border-radius: 50%;
  border:1px solid #707070;
  background: $white;
  cursor: pointer;  
  opacity: 0;
  transform: translateY(100px);
  transition: all .5s ease;
  &.showBtn{
    
    opacity: 1;
    transform: translateY(0)
  }
  &:focus{
    outline: none;
  }
  svg{
    width: 1.5rem;
    height: 1.5rem;
  }
}